<!Doctype html>
html
  head
    title Bite by Bite Navigation
    script(src="http://code.jquery.com/jquery-1.11.3.min.js")
    script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQbs6DzHSmfNbonXbcoA0nyXNLoelNA0s&libraries=places,geometry")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet" type="text/css" href="css/default.css")
body(class="bluegreyBackground")
  div(class="container-fluid")
    div(class="row")
      div(class="col-xs-12 hidden-sm hidden-md hidden-lg headerXs")
        div(class="row spacerXs")
        div(class="row")
          div(class="col-xs-12 headerContent text-center")
            h2(class="lightblue titleXs") Bite by Bite Navigation
            h4(class="lightblue subtitleXs") Looking to stop somewhere on the way?<br>We've got you covered.
      div(class="hidden-xs col-sm-12 col-md-12 col-lg-12 headerLg")
        div(class="row spacerLg")
        div(class="row")
          div(class="hidden-xs col-sm-12 headerContent text-center")
            h1(class="lightblue titleLg") Bite by Bite Navigation
            h3(class="lightblue subtitleLg") Looking to stop somewhere on the way?<br>We've got you covered.
    div(class="row spacerXs")
    form
      div(class="row")
        div(class="col-xs-12 col-sm-6 col-md-offset-2 col-md-4 col-lg-offset-3 col-lg-3 form-group")
          label(for="origin" class="lightblue formLabel") Origin:
          input(type="text" size="50" class="form-control text-center" id="origin" placeholder="Irvine, CA")
        div(class="col-xs-12 col-sm-6 col-md-4 col-lg-3 form-group")
          label(for="destination" class="lightblue formLabel") Destination:
          input(type="text" size="50" class="form-control text-center" id="destination" placeholder="Costa Mesa, CA")
      div(class="row")
        div(class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4 form-group")
          label(for="category" class="lightblue formLabel") Find:
          input(type="text" class="form-control text-center" id="category" placeholder="tacos, cheap dinner, Joe's")
      div(class="row")
        div(class="col-xs-12 text-center")
          button(type="search" class="btn btn-default" id="search") Search Along Your Route
      div(class="row spacerXs")
    div(class="row")
      div(class="col-xs-12")
        div(id="searchResults")
    div(class="row darkblueBackground")
      div(class="col-xs-12 col-sm-4 col-md-4")
        img(src="images/sushi.jpg" class="tileImage")
      div(class="col-xs-6 col-sm-4 col-md-4")
        img(src="images/tacos.jpg" class="tileImage")
      div(class="col-xs-6 col-sm-4 col-md-4")
        img(src="images/burger.jpg" class="tileImage")
      div(class="hidden-xs col-sm-4 col-md-4")
        img(src="images/pizza.jpg" class="tileImage")
      div(class="hidden-xs col-sm-4 col-md-4")
        img(src="images/curry.jpg" class="tileImage")
      div(class="hidden-xs col-sm-4 col-md-4")
        img(src="images/eggrolls.jpg" class="tileImage")
      div(class="col-xs-12")
        div(class="tileImage")
    div(class="row darkredBackground spacerXs")
    div(class="row darkredBackground")
      div(class="col-xs-12 text-center redgrey subtitle")
        h3 Powered By
    div(class="row darkredBackground")
      div(class="col-xs-12 col-sm-6 text-center")
        a(href="http://yelp.com/" target="_")
          img(src="images/yelp.svg" class="logo")
      div(class="col-xs-12 col-sm-6 text-center")
        a(href="maps.google.com" target="_")
          img(src="images/google.png" class="logo")
    div(class="row darkredBackground spacerXs")
  script(src="js/default.js")
