DOCTYPE(html)
html
  head
    title Bite by Bite Navigation
    script(src="http://code.jquery.com/jquery-1.11.3.min.js")
    script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet" type="text/css" href="css/default.css")
body(class="bluegreyBackground")
  div(class="container-fluid")
    div(class="row")
      div(class="col-xs-12 hidden-sm hidden-md hidden-lg headerXs")
        div(class="row spacerXs")
        div(class="row")
          div(class="col-xs-12 headerContent text-center")
            h2(class="lightblue titleXs") Bite by Bite Navigation
            h4(class="lightblue subtitleXs") Looking to stop somewhere on the way?<br>We've got you covered.
      div(class="hidden-xs col-sm-12 col-md-12 col-lg-12 headerLg")
        div(class="row spacerLg")
        div(class="row")
          div(class="hidden-xs col-sm-12 headerContent text-center")
            h1(class="lightblue titleLg") Bite by Bite Navigation
            h3(class="lightblue subtitleLg") Looking to stop somewhere on the way?<br>We've got you covered.
    div(class="row")
      div(class="col-xs-12 col-sm-6 col-md-offset-2 col-md-4 text-center")
        p origin
      div(class="col-xs-12 col-sm-6 col-md-offset-2 col-md-4 text-center")
        p destination
    div(class="row")
      div(class="col-xs-12 text-center")
        p food type

  script(src="js/default.js")