h1, h2, h3, h4, h5, h6, a {
  font-family: 'Lato', 'Arimo', sans-serif;
}
p {
  font-family: 'Roboto Slab', 'Bitter', serif;
}
.lightblueBackground {
  background-color: #0076e9;
}
.mediumblueBackground {
  background-color: #00264a;
}
.bluegreyBackground {
  background-color: #45586b;
}
.darkblueBackground {
  background-color: #031c34;
}
.blueblackBackground {
  background-color: #100b09;
}
.greenBackground {
  background-color: #003919;
}
.redgreyBackground {
  background-color: #a47265;
}
.brightredBackground {
  background-color: #ca2f16;
}
.darkredBackground {
  background-color: #501100;
}
.redblackBackground {
  background-color: #100b09;
}
.lightblue {
  color: #0076e9;
}
.mediumblue {
  color: #00264a;
}
.bluegrey {
  color: #45586b;
}
.darkblue {
  color: #031c34;
}
.blueblack {
  color: #100b09;
}
.green {
  color: #003919;
}
.redgrey {
  color: #a47265;
}
.brightred {
  color: #ca2f16;
}
.darkred {
  color: #501100;
}
.redblack {
  color: #100b09;
}
/*-----------------------------------------------------------*/
/*Front Page*/
.formLabel {
  font-size: 16px;
  text-shadow: 1px 1px 3px #100b09;
  font-family: 'Lato', 'Arimo', sans-serif;
}
.headerLg {
  height: 350px;
  background: #100b09;
}
.headerLg:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 1920px;
  height: 350px;
  z-index: 1;
  background-size: 100%;
  background-image: url("../images/seafood.jpg");
  background-position: center;
  opacity: 0.4;
}
.headerXs {
  background: #100b09;
}
.headerXs:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: 100%;
  background-image: url("../images/seafood.jpg");
  background-position: center;
  opacity: 0.4;
}
.headerContent {
  z-index: 3;
  margin-bottom: 40px;
}
.logo {
  max-width: 100%;
  max-height: 150px;
}
.tileImage {
  width: 100%;
  padding-top: 15px;
}
.titleLg {
  font-size: 64px;
  text-shadow: 2px 2px 6px #100b09;
}
.titleXs {
  font-size: 48px;
  text-shadow: 2px 2px 6px #100b09;
}
.spacerLg {
  height: 100px;
}
.spacerXs {
  height: 40px;
}
.subtitleLg {
  text-shadow: 1px 1px 3px #100b09;
}
.subtitleXs {
  text-shadow: 2px 2px 4px #100b09;
}
/*------------------------Search Results and Details------------------------*/
#detailsMap {
  height: 100%;
}
#detailsMapRow {
  height: 500px;
}
#resultMap {
  height: 100%;
}
#resultMapRow {
  height: 500px;
}
.resultName {
  font-weight: bold;
  font-size: 18px;
  text-shadow: 1px 1px 1px #100b09;
}
.reviewText {
  margin: 0px;
  font-size: 16px;
  display: inline;
  font-family: 'Roboto Slab', 'Bitter', serif;
}
.searchResult {
  border: 2px solid #45586b;
  border-radius: 4px;
}
.searchResultRight {
  min-height: 74px;
}
.addressText {
  font-size: 16px;
  margin-left: 15px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-family: 'Roboto Slab', 'Bitter', serif;
}
/*Ratings*/
.rating {
  margin-top: 6px;
}
.rating i {
  display: inline-block;;
  width: 0;
  height: 1.5em;
  border-width: 0 0.75em;
  border-style: solid;
  border-color: #eee;
  border-radius: 0.22em;
  color: white;
  background: #eee;
  font-style: normal;
  line-height: 1.6em;
  text-indent: -0.5em;
  text-shadow: 1px 0 1px #b3b3b3;
}
.star-1, .star-2, .star-3, .star-4, .star-5 {
  margin-right: 5px;
}
.rating-1 .star-1, .rating-1-half .star-1 {
  border-color: #cc8b1f;
  background: #cc8b1f;
}

.rating-1-half .star-2 {
  border-left-color: #cc8b1f;
}

.rating-2 .star-1, .rating-2-half .star-1, .rating-2 .star-2, .rating-2-half .star-2 {
  border-color: #dcb228;
  background: #dcb228;
}

.rating-2-half .star-3 {
  border-left-color: #dcb228;
}

.rating-3 .star-1, .rating-3-half .star-1, .rating-3 .star-2, .rating-3-half .star-2, .rating-3 .star-3, .rating-3-half .star-3  {
  border-color: #f0991e;
  background: #f0991e;
}

.rating-3-half .star-4 {
  border-left-color: #f0991e;
}

.rating-4 .star-1, .rating-4-half .star-1, .rating-4 .star-2, .rating-4-half .star-2, .rating-4 .star-3, .rating-4-half .star-3, .rating-4 .star-4, .rating-4-half .star-4 {
  border-color: #f26a2c;
  background: #f26a2c;
}

.rating-4-half .star-5 {
  border-left-color: #f26a2c;
}

.rating-5 .star-1, .rating-5-half .star-1, .rating-5 .star-2, .rating-5-half .star-2, .rating-5 .star-3, .rating-5-half .star-3, .rating-5 .star-4, .rating-5-half .star-4, .rating-5 .star-5, .rating-5-half .star-5 {
  border-color: #dd050b;
  background: #dd050b;
}

.rating-5-half .star-6 {
  border-left-color: #dd050b;
}